.logements {
  align-items: center;
  background-color: $greyLight;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 40px;

  a {
    color: inherit;
    text-decoration: none;
  }
}
